@import '../variables.scss';

main {
  width: 100%;
  min-height: 90%;
  background: $light-background;
  border-top-right-radius: $outer-border-radius;
  border-bottom-right-radius: $outer-border-radius;
  color: black;
}

@media screen and (max-width: 768px) {
  main {
    border-radius: $outer-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
