@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/antd/dist/reset.css';
@import '../../node_modules/react-toastify/dist/ReactToastify.css';
@import './variables.scss';
@import './Layout/AppContainer.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: $light-foreground;
}

:root {
  .ant-ribbon-text {
    color: black;
  }

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover {
    z-index: 10;
  }

  .pointer {
    cursor: pointer;
  }

  .disable {
    pointer-events: none;
    opacity: 0.4;
  }

  .Toastify__toast {
    white-space: pre-line;
  }

  .ant-modal-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .anticon {
    font-size: 15px;
  }

  .ant-form-item-feedback-icon {
    display: flex;
  }

  .ant-form-item-label > .ant-form-item-required::before {
    content: unset !important;
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
  }

  .ant-form-item-label > .ant-form-item-required::after {
    content: '*' !important;
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    padding: 0px 2px;
  }

  .ant-select .ant-select-clear {
    top: 50%;
    right: 11px;
    transform: translate(-15%, -70%);
    margin-top: 0px;
  }

  .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #001529;
  border: 4px solid transparent;
  border-radius: $outer-border-radius;
  background-clip: padding-box;
}

*::-webkit-scrollbar {
  width: 16px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black !important;
  }
}
